<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Admin Panel</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container" th:insert="fragments/navbar"></div>
	<div th:if="${errorMessage != null}" class="alert alert-danger col-xs-offset-1 col-xs-10">
		<span th:text="${errorMessage}">Error</span>
	</div>
	<div class="list-group">
	  <a th:href="@{/admin/petType/new}" class="list-group-item list-group-item-action">Create Pet Type</a>
	  <a th:href="@{/admin/petType/delete}" class="list-group-item list-group-item-action">Delete Pet Type</a>
	  <a th:href="@{/admin/breed/new}" class="list-group-item list-group-item-action">Create Pet Breed</a>
	  <a th:href="@{/admin/breed/delete}" class="list-group-item list-group-item-action">Delete Pet Breed</a>
	  <a th:href="@{/admin/location/new}" class="list-group-item list-group-item-action">Create Location</a>
	  <a th:href="@{/admin/location/delete}" class="list-group-item list-group-item-action">Delete Location</a>
	</div>
</body>
</html>