<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Delete Breed</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container mb-3">
	<div th:replace="fragments/navbar"></div>
	<form th:action="@{/admin/breed/delete}" method="POST" th:object="${breed}">
	  <div class="form-group mb-3">
	    <label for="petType">Pet Type:</label>
		<select class="form-control" required id="petType">
			<option value="" hidden>Select</option>
			<option th:each="type: ${petTypes}" th:text="${type.name}" th:value="${type.name}"></option>
		</select>
	  </div>
	  <div class="form-group mb-2">
		<label for="breed">Breed:</label>
		<select class="form-control"
			id="breed" th:field="*{id}" required disabled>
			<option value="" hidden>Select</option>
		</select>
	  </div>
	  
	  <button type="submit" class="btn btn-danger">Delete</button>
	  <a class="btn btn-secondary" th:href="@{/admin}" role="button">Cancel</a>
	</form>
</div>

<script type="module" th:src="@{/js/breed-load.js}"></script>

</body>
</html>