<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Create Location</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mb-3">
	<div th:replace="fragments/navbar"></div>
	<form th:action="@{/admin/location/new}" method="POST" th:object="${location}">
	  <div class="form-group mb-3">
	    <label for="country">Country:</label>
	    <input type="text" class="form-control" id="country" required="required" th:field="*{country}">
	  </div>
	  <div class="form-group mb-3">
	    <label for="region">Region:</label>
	    <input type="text" class="form-control" id="region" required="required" th:field="*{region}">
	  </div>
	  <div class="form-group mb-2">
	    <label for="subRegion">Sub Region:</label>
	    <input type="text" class="form-control" id="subRegion" required="required" th:field="*{subRegion}">
	  </div>
	  <button type="submit" class="btn btn-success">Create</button>
	  <a class="btn btn-secondary" th:href="@{/admin}" role="button">Cancel</a>
	</form>
</div>

</body>
</html>