<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Pet Type Deletion</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container my-3">
	<form th:action="@{/admin/location/delete}" method="POST" th:object="${location}">
		<div class="form-group">
			<label for="country">Country:</label>
			<select class="form-control" required id="country">
				<option value="" hidden>Select</option>
				<option th:each="country: ${countries}" th:value="${country}"
					th:text="${country}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="region">Province:</label>
			<select class="form-control" disabled required id="region">
				<option value="" hidden>Select</option>
			</select>
		</div>
		<div class="form-group">
			<label for="subregion">Area:</label>
			<select class="form-control" disabled th:field="*{id}" required id="subregion">
				<option value="" hidden>Select</option>
			</select>
		</div>
	  
	  <button type="submit" class="btn btn-danger">Delete</button>
	  <a class="btn btn-secondary" th:href="@{/admin}" role="button">Cancel</a>
	</form>
</div>

<script type="module" th:src="@{/js/location-load.js}"></script>

</body>
</html>