<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Create Pet Type</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mb-3">
	<div th:replace="fragments/navbar"></div>
	<form th:action="@{/admin/petType/new}" method="POST" th:object="${petType}">
	  <div class="form-group mb-2">
	    <label for="name">Name:</label>
	    <input type="text" class="form-control" id="name" required="required" th:field="*{name}">
	  </div>
	  <button type="submit" class="btn btn-success">Create</button>
	  <a class="btn btn-secondary" th:href="@{/admin}" role="button">Cancel</a>
	</form> 
</div>
</body>
</html>