<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Delete Pet Type</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mb-3">
	<div th:replace="fragments/navbar"></div>
	<form th:action="@{/admin/petType/delete}" method="POST" th:object="${petType}">
	  <div class="form-group mb-2">
	    <label for="petType">Pet Type:</label>
		<select class="form-control" required id="petType" th:field="*{id}">
			<option value="" hidden>Select</option>
			<option th:each="type: ${petTypes}" th:text="${type.name}" th:value="${type.id}"></option>
		</select>
	  </div>
	  <button type="submit" class="btn btn-danger">Delete</button>
	  <a class="btn btn-secondary" th:href="@{/admin}" role="button">Cancel</a>
	</form>
</div>

</body>
</html>