<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Post</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container">
	  <a class="btn btn-primary" th:href="@{/posts}" role="button">Back</a>
	  <div>
	<div id="petImages" class="carousel carousel-dark slide" data-bs-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item" th:each="image: ${post.pet.imagesFilenames}" th:classappend="${image.equals(post.pet.imagesFilenames[0])}? active">
	      <img th:src="@{${'/pet/image/' + image}}" alt="Pet image" style="display:block; margin-left: auto;margin-right: auto; width: 612px; height: 467px;">
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#petImages" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#petImages" data-bs-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </button>
	</div>
		    <h4 class="card-title" th:text="${post.postType.toUpperCase()}"></h4>
		    <div>
		    	<div th:if="${post.class.name == 'com.ireyes.findMyPet.model.post.Search'}">
		    		<p th:text="${'NAME: ' + post.pet.name}">
		    		<p th:text="${'AGE: ' + post.pet.age}">
		    	</div>
			    <p th:text="${'TYPE: ' + post.pet.breed.petType.name}"></p>
			    <p th:text="${'BREED: ' + post.pet.breed.name}"></p>
			    <p th:text="${'LOCATION: ' + post.location.subRegion 
			    	+ ', ' + post.location.region + ', ' + post.location.country}"></p>
			    <p th:text="${'DATE: ' + #dates.format(post.date, 'MM / dd / yyyy')}"></p>
			    <p th:if="${post.pet.description != null && !post.pet.description.isEmpty()}"
			    	th:text="${'PET EXTRA INFO: ' + post.pet.description}"></p>
		    	<p th:if="${post.class.name == 'com.ireyes.findMyPet.model.post.Found'}" 
		    		th:text="${'RELOCATION URGENCY: ' + post.relocationUrgency}"></p>
			    <p th:if="${post.description != null && !post.description.isEmpty()}" 
			    	th:text="${'POST EXTRA INFO: ' + post.description}"></p>
	    		<p th:each="contact: ${post.user.contacts}" th:text="${contact.type.toString() + ': ' + contact.value}"></p>
    		</div>
	  </div>
	</div>
	

</body>
</html>